
/*    BODY & GENERAL   */
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

ul {
  list-style: none;
}

/*  HEADER  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 0;
  background-color: cadetblue;
  position: fixed;
  top: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: .1em;
  margin-left: 1%;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.1em;
  font-weight: 200;
  min-width: 600px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50%;
}

.nav li {
  padding: 0 1%;
  margin: 0 1%;
}

/*  EVERYTHING ELSE    */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 14%;
  padding-bottom: 5%;
  background-color: darkgoldenrod;
}

/*  FOOTER   */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1% 0;
  background-color: crimson;
  position: fixed;
  bottom: 0;
}


@media (max-width: 1100px) {
  main {
    padding-top: 17%;
  }
  
  h1 {
    font-size: 1.5em;
    font-weight: 500;
  }
}

@media (max-width: 800px) {

  main {
    padding-top: 25%;
    padding-bottom: 10%;
  }

  h1 {
    font-size: 1.25em;
  }

  nav {
    font-size: .8em;
    min-width: 350px;
    margin: 1%;
    justify-content: flex-start;
  }
  
  .nav {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  
  .nav div {
    width: 50%;
  }
}