
/*                                BODY & GENERAL   */
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a, .link {
  text-decoration: none;
  color: darkmagenta;
}

a:hover, .link:hover {
  text-decoration: underline;
  color: rgb(124, 146, 62);
  cursor: pointer;
}

h4 {
  font-size: 1.3em;
  margin: 2% 0;
}

/*                              HEADER     */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 0;
  background-color: cadetblue;
  position: fixed;
  top: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: .1em;
  margin: 0 1%;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.1em;
  font-weight: 200;
  min-width: 600px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50%;
}

.nav li {
  padding: 0 1%;
  margin: 0 1%;
}



/*                              .MAIN-CONTAINER    */
.main-container {
  width: 100%;
  padding-top: 12%;
  padding-bottom: 5%;
  background-color: darkgoldenrod;
}



/*                              HOME PAGE    */
.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 95%;
  min-height: 400px;
  margin-top: 2%;
  background-color: darkred;
}

.home-content {
  max-height: 500px;
  overflow: auto;
}



/*                              COMPANY & PROFILE PAGES    */
.company-profile-container {
  width: 90%;
  padding: 2%;
  background-color: darkslategrey;
}

.company-profile-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.company-profile-top-left, .company-profile-top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.company-profile-body {
  width: 97.5%;
  padding: 2%;
  background-color: lightcoral;
}

.company-profile-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}

.company-profile-all-projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.company-profile-projects {
  width: 30%;
  margin: 0;
  padding: 0;
}

.company-profile-single {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin: 2% 1%;
  background-color: lightseagreen;
}

.company-profile-single p {
  font-size: 1.2em;
  font-weight: 300;
}



/*                              PROJECT & TASK CONTAINER   */
.project-task-container {
  margin-top: 3%;
  width: 98%;
  background-color: darkslategrey;
}

.project-task-top-left, .project-task-top-right {
  padding: 2%;
  background-color: dimgrey;
}

.project-task-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.project-task-bottom {
  width: 100%;
}

.project-phase-container h3 {
  text-align: center;
}

.project-phase-content {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  background-color: fuchsia;
}

.project-phase-single {
  background-color: green;
  height: auto;
  margin: 2%;
}



/*                              FOOTER   */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1% 0;
  background-color: crimson;
  position: fixed;
  bottom: 0;
}


@media (max-width: 1100px) {
/*                              .MAIN-CONTAINER  @media 1100  */
  .main-container {
    padding-top: 14%;
  }
  
/*                              HEADER  @media 1100  */
  h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-right: 0;
  }

/*                              COMPANY & PROFILE PAGES  @media 1100  */
  .company-profile-all-projects {
    flex-direction: column;
    align-items: center;
  }

  .company-profile-projects {
    width: 75%;
  }
}

@media (max-width: 800px) {
/*                              .MAIN-CONTAINER  @media 800  */
  .main-container {
    padding-top: 27%;
    padding-bottom: 10%;
  }

/*                              HEADER   @media 800  */
  nav {
    min-width: 0;
    justify-content: flex-start;
  }
  
  .nav {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  
  .nav div {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: right;
    width: 50%;
    margin: 0;
  }

/*                              HOME PAGE  @media 800  */
  .home-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
/*                              COMPANY & PROFILE PAGES  @media 800  */
  .company-profile-details {
    flex-direction: column;
  }

  .company-profile-projects {
    width: 97.5%;
  }

/*                              PROJECT & TASK CONTAINER   */
  .project-task-container {
    margin-top: 5%;
  }

  .project-phase-content, .project-task-top {
    flex-direction: column;
    align-items: center;
  }

  .project-phase-container, .project-phase-content, .project-phase-single {
    width: 95%;
  }
}